$color-white: white;
$color-black: black;
$color-dropdown: #313138;
$hover-color: #2b2f40c2;
$text-color: #021a4f;
$background-color: #6059bdfe;
$gray-color: rgba(128, 128, 128, 0.925);
$orange-color: rgb(248, 95, 30);
$box-shadow: #00000033;